APP_PORT=8080

DB_HOST=ep-quiet-moon-aow4gnsp-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_9sDe1aQfCTlq
DB_NAME=neondb
DB_SSLMODE=require

JWT_SECRET=OJE9ujdBsqwEZQN6wKT70O6145LkcXTpFhQhh6gX5JU